.thumbnail {
    width: 80px;
}
.item-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.title{
    font-size : 19px;
    font-weight: bold;
}

.description{
  font-size: 18px;
  color: #707070d8;  
}